* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: auto;
}

.main-content {
  width: 100%;
  height: 600px;
  background-color: royalblue;

  display: flex;
}

.navbar {
  width: 100px;
  height: 100%;
  background-color: rebeccapurple;
}

.notes-container {
  flex: 1;

  background-color: black;
}
